.container {
  height: 400px;
  width: 900px;
  margin: 40px auto;
  padding: 5px;
  font-family: "Sriracha", cursive;
}

#main {
  background-color: #63d2ff;
  margin: 5px;
  border-left: 5px solid #2081c3;
  padding: 10px;
}

table {
  text-align: left;
}
tr {
  margin: 5px;
}
td {
  margin: 3px;
  align-items: center;
  border: 30px solid #63d2ff;
}

button {
  margin: 5px;
}
a {
  color: red;
}

footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #21243d;
  color: white;
  text-align: center;
}
